body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.2;
  padding: 4em 1em;
  color: rgb(69, 69, 69);
}

h1, h2, h3 {
  margin-top: 1em;
  padding-top: 1em;
  font-family: 'Snippet', sans-serif;
  
}

ul li, ol li {
  font-family: 'Marko One', serif;
}

h2, h3 {
  border-bottom: 1px solid rgb(191, 191, 191);
}
