body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.2;
  padding: 4em 1em;
  color: rgb(69, 69, 69);
}

h1, h2, h3 {
  margin-top: 1em;
  padding-top: 1em;
  font-family: 'Roboto', sans-serif;

}

h2, h3 {
  border-bottom: 1px solid rgb(191, 191, 191);
}

.language {
  font-weight: bolder;
}

time {
  font-weight: bold;
}

#ausbildung-schule ul {
  list-style: none;
  padding-inline-start: 0;
}

#ausbildung-schule li {
  padding-bottom: .3em;
}